﻿@using NanoWiki.Resources;
@using NanoWiki.Classes;

@{
    int fileInput = 0;
}

@if (ViewBag.UserPart == true)
{
    <style>
        #IdInputFile {
            width: 100%;
        }

        #IdBtnInputFile {
            width: 100%;
        }
    </style>
}

<input type="hidden" id="currentTable" value="@ViewBag.Table" />

<div style="text-align: -webkit-center; padding: 0 5px;">
    <h4>
        @ViewBag.MethodText
    </h4>
    @if (ViewBag.MethodText == Translations.Add)
    {
        <p>
            @Translations.IgnoredId
        </p>
    }
    <hr />
    <div class="row">
        <div id="rowDivRemove" class="col-md-12">
            <form id="ApplyForm" enctype="multipart/form-data">

                @for (int i = 0; i < ViewBag.Columns.Count; i++)
                {
                    string fieldName = ViewBag.Properties[i].Name;

                    @*@if (ViewBag.MethodText == Translations.Edit)
                    {
                        if (fieldName.Equals("Id"))
                        {
                            continue;
                        }
                    }*@

                    <div class="form-group adminFormControl" style="text-align: left;">
                        @Html.Label(fieldName, ViewBag.Columns[i], new { @class = "control-label", @style = "font-weight:bold;" })
                        <div>
                            @if (fieldName.IndexOf("Fk") != -1)
                            {
                                try
                                {
                                    @Html.Raw(ConnectorDataManager.GetFkComboBox(fieldName, ViewBag.Properties[i].GetValue(ViewBag.Model, null), ViewBag.Table))
                                }
                                catch (Exception exc)
                                {
                                    <hr />
                                    <p>@Translations.Error: @exc.Message</p><br />
                                    <hr />
                                }
                            }
                            else if (fieldName.Equals("PostStatus"))
                            {
                                try
                                {
                                    @Html.Raw(ConnectorDataManager.GetPostStatusComboBox(fieldName, ViewBag.Properties[i].GetValue(ViewBag.Model, null)))
                                }
                                catch (Exception exc)
                                {
                                    <hr />
                                    <p>@Translations.Error: @exc.Message</p>
                                    <hr />
                                }
                            }
                            else if (fieldName.Equals("JournalLanguage") || fieldName.Equals("SCOPUS") || fieldName.Equals("ImpactFactorRSCI") ||
                                fieldName.Equals("CurrentlyStatus") || fieldName.Equals("RenameTransferInformation"))
                            {
                                @Html.Raw(ConnectorDataManager.GetJournalValuesComboBox(fieldName, ViewBag.Properties[i].GetValue(ViewBag.Model, null)))
                            }
                            else if (fieldName.Equals("LikeRating") || fieldName.Equals("DislikeRating"))
                            {
                                try
                                {
                                    @Html.Raw(ConnectorDataManager.GetRatingComboBox(fieldName, ViewBag.Properties[i].GetValue(ViewBag.Model, null)))
                                }
                                catch (Exception exc)
                                {
                                    <hr />
                                    <p>@Translations.Error: @exc.Message</p>
                                    <hr />
                                }
                            }
                            else if (fieldName.Equals("Password"))
                            {
                                <input class="form-control adminFormControl" type="text" @Html.Raw(ViewBag.ValidationList[i]) name="@fieldName"
                                       value="@Encryption.Decrypt(ViewBag.Properties[i].GetValue(ViewBag.Model, null))" />
                            }
                            else if (fieldName.Equals("Text") || fieldName.Equals("Autobiography") || fieldName.Equals("SubjectHeadings") || fieldName.Equals("EditorialCollege"))
                            {
                                if (ViewBag.Properties[i].Name.IndexOf("FullTexts") == -1)
                                {
                                    if (ViewBag.Table.IndexOf("Posts") != -1 || ViewBag.Table.IndexOf("Books") != -1 || ViewBag.Table.IndexOf("Scientists") != -1 || 
                                        ViewBag.Table.IndexOf("AboutProject") != -1 || ViewBag.Table.IndexOf("Events") != -1 || ViewBag.Table.IndexOf("Journals") != -1)
                                    {
                                        <p>
                                            @Translations.ForLoadingEditor
                                        </p>
                                    }

                                    try
                                    {
                                        List<string> listHtmlEditor = new List<string>() { fieldName, ViewBag.Properties[i].GetValue(ViewBag.Model, null) };

                                        @await Html.PartialAsync("~/Views/HtmlEditor/HtmlEditor.cshtml", listHtmlEditor);
                                    }
                                    catch (Exception exc)
                                    {
                                        <p>
                                            @Translations.InternalServerError: @exc.Message
                                        </p>
                                    }
                                }
                                else
                                {
                                    try
                                    {
                                        <input class="form-control adminFormControl" type="text" @Html.Raw(ViewBag.ValidationList[i]) name="@fieldName"
                                               value="@ViewBag.Properties[i].GetValue(ViewBag.Model, null)" />
                                    }
                                    catch (Exception exc)
                                    {
                                        <br />
                                        <hr />
                                        <p>@Translations.Error: @exc.Message</p>
                                        <hr />
                                    }
                                }
                            }
                            else if (fieldName.Equals("Photo") || fieldName.Equals("Avatar"))
                            {
                                fileInput = 1;

                                string previewImg = ViewBag.Properties[i].GetValue(ViewBag.Model, null);
                                if (string.IsNullOrEmpty(previewImg))
                                {
                                    string table = ViewBag.Table;
                                    if (ViewBag.Table.IndexOf("Translations") != -1)
                                    {
                                        table = table.Replace("Translations", "");
                                    }

                                    previewImg = "~/images/user/" + table + "/default.png";
                                }

                                if (previewImg.IndexOf("default.png") != -1)
                                {
                                    <label style="margin-bottom: 25px;">
                                        @Translations.CurrentFile: @previewImg
                                    </label>

                                    <div style="text-align: center;">
                                        <img src="@Url.Content(previewImg)" style="width: 600px; height: 400px;" />
                                    </div>

                                }
                                else
                                {
                                    <div style="text-align: center;">
                                        <img src="data:image/png;base64, @previewImg" style="width: 600px; height: 400px;" />
                                    </div>
                                }

                                <input type="hidden" name="@fieldName" value="@ViewBag.Properties[i].GetValue(ViewBag.Model, null)">

                                <hr />

                                <select id="fileInputStatus" class="form-control adminFormControl" name="Status">
                                    <option value="Add">
                                        @Translations.Add
                                    </option>
                                    <option value="Delete">
                                        @Translations.Delete
                                    </option>
                                </select>

                                <div class="form-group">
                                    <div class="input-group input-file">
                                        <input type="text" id="IdInputFile" class="form-control" placeholder='@Translations.NoFileSelected...' readonly />
                                        <span class="input-group-btn">
                                            <button id="IdBtnInputFile" class="btn btn-default btn-choose" type="button">@Translations.SelectFile</button>
                                        </span>
                                    </div>
                                </div>

                                <hr />
                            }
                            else
                            {
                                try
                                {
                                    <input class="form-control adminFormControl" type="text" @Html.Raw(ViewBag.ValidationList[i]) name="@fieldName"
                                           value="@ViewBag.Properties[i].GetValue(ViewBag.Model, null)" />
                                }
                                catch (Exception exc)
                                {
                                    <br />
                                    <hr />
                                    <p>@Translations.Error: @exc.Message</p>
                                    <hr />
                                }
                            }
                        </div>
                    </div>
                }

                <div class="form-group adminFormControl" id="btnApply">
                    <input type="submit" value="@Translations.Save" class="btn btn-primary adminFormControl" />
                </div>

            </form>

        </div>
    </div>
</div>

<script>
    $.validate({
        lang: '@ViewBag.Lang'
    });
    $("#edit").restrictLength($("#max-length-element"));

    $(".input-file").before(
        function () {
            if (!$(this).prev().hasClass('input-ghost')) {
                var element = $("<input type='file' class='input-ghost' id='IdFileImg' name='fileImg' style='visibility:hidden; height:0'>");
                element.attr("name", $(this).attr("name"));
                element.change(function () {
                    element.next(element).find('input').val((element.val()).split('\\').pop());
                });
                $(this).find("button.btn-choose").click(function () {
                    element.click();
                });
                $(this).find('input').mousedown(function () {
                    $(this).parents('.input-file').prev().click();
                    return false;
                });
                return element;
            }
        }
    );

    function SendFormData(fileName) {
        var jsonArr = "[{'Key':'Table','Value':'@ViewBag.Table'},{'Key':'MethodValue','Value':'@ViewBag.MethodValue'}," +
            "{'Key':'Page','Value':'@ViewBag.Page'},";

        jsonArr += "{'Key':'ImgPath','Value':'" + fileName + "'},";

        var other_data = $("#ApplyForm").serializeArray();
        $.each(other_data, function (_key, input) {
            if (input.name === "Status") {
                return true;
            }
            jsonArr += "{'Key':'" + input.name + "','Value':'" + input.value + "'},";
        });

        jsonArr = jsonArr.slice(0, -1);
        jsonArr += "]";

        $.ajax({
            url: "/Admin/Apply",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(jsonArr),
            async: false,
            success: function (returnUrl) {
                AjaxLoad(returnUrl);
            },
            error: function () {
                console.log("@Translations.UpsErrorMessage");
            }
        });
    }

    $("#btnApply").click(function (evt) {
        evt.preventDefault();

        var fileInput = @fileInput;

        if (fileInput === 1) {

            var formData = new FormData();

            formData.append("FileImg", $("#IdFileImg")[0].files[0]);
            formData.append("Status", $("select[id=fileInputStatus] option:selected").val());
            formData.append("Table", "@ViewBag.Table");
            formData.append("Id", "@ViewBag.Id");

            $.ajax({
                url: "/Admin/ApplyImgFile",
                type: "post",
                contentType: false,
                processData: false,
                data: formData,
                success: function (returnValue) {
                    SendFormData(returnValue);
                },
                error: function () {
                    console.log("@Translations.UpsErrorMessage");
                }
            });
        }
        else {
            SendFormData("");
        }
    });

</script>