﻿@using NanoWiki.Resources;

@{
    ViewBag.Title = Translations.RedirectPage;
}

<row>
    <h3>
        @Translations.RedirectPage
    </h3>
    <hr /><br />
    <h3>
        @ViewBag.RedirectMessage
    </h3>
</row>

<div>
    @Html.ActionLink(Translations.AdminPage, "Index", "Admin")
</div>