﻿@using NanoWiki.Resources;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor httpContextaccessor

@{
    string Lang = PageManager.GetLanguage(httpContextaccessor);
    Contacts contacts = ConnectorDataManager.GetContacts(Lang);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="@Translations.NanoWikiDescription">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kanasi">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="facebook-domain-verification" content="us38hhcn8mettj8n9u0os78apymfh8" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>@Translations.NanoWikiDescription</title>
    <!-- Favicon -->
    <link rel="icon" href="~/images/user/logo/ico/classic/x32_3.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" href="~/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/user/classy-nav.css">
    <link rel="stylesheet" href="~/css/user/font-awesome.css">
    <link rel="stylesheet" href="~/css/user/themify-icons.css">
    <link rel="stylesheet" href="~/css/user/owl.carousel.css">
    <link rel="stylesheet" href="~/css/user/animate.css">
    <link rel="stylesheet" href="~/css/user/magnific-popup.css">
    <link rel="stylesheet" href="~/css/user/style.css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-area d-flex align-items-center">
                            <div class="news-title">
                                <p>@Translations.LastNews:</p>
                            </div>
                            <div id="breakingNewsTicker" class="ticker" style="height: 21px;">
                                <ul>
                                    @Html.Raw(string.IsNullOrEmpty(ConnectorDataManager.GetBreakingNews(Lang)) ? " " : ConnectorDataManager.GetBreakingNews(Lang))
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="top-meta-data d-flex align-items-center justify-content-end">
                            <!-- Top Social Info -->
                            <div class="top-social-info">
                                <a href="https://vk.com/nanowiki"><i class="fa fa-vk"></i></a>
                                <a href="https://www.facebook.com/NanoWikiOfficial/"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/nano_wiki"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/nanowiki/"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/nanowiki"><i class="fa fa-linkedin"></i></a>
                            </div>
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form asp-action="Posts" asp-controller="Home">
                                    <input type="text" name="searchValue" id="topSearch" placeholder="@Translations.Search...">
                                    <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>
                            <!-- Login -->
                            @{
                                string userRole = "";
                                string urlController = "", urlAction = "";
                                string colorLink = "darkgray";

                                var userIdentity = (ClaimsIdentity)User.Identity;

                                var roles = userIdentity.Claims.Where(c => c.Type == ClaimTypes.Role).ToList();

                                if (roles.Count != 0)
                                {
                                    userRole = roles[0].Value.ToString();
                                }

                                if (!string.IsNullOrEmpty(userIdentity.Name))
                                {
                                    if (userRole.Equals("User"))
                                    {
                                        urlAction = "PersonalPage";
                                        urlController = "Account";
                                        colorLink = "orangered";
                                    }
                                    else
                                    {
                                        urlAction = "Index";
                                        urlController = "Admin";
                                        colorLink = "greenyellow";
                                    }

                                    <a href="@Url.Action(urlAction, urlController)" class="login-btn"><i class="fa fa-user" style="color: @colorLink" aria-hidden="true"></i> @userIdentity.Name</a>
                                }
                                else
                                {
                                    urlAction = "Authorization";
                                    urlController = "Account";

                                    <a href="@Url.Action(urlAction, urlController)" class="login-btn"><i class="fa fa-user" style="color: @colorLink" aria-hidden="true"></i></a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div id="sticker-sticky-wrapper" class="sticky-wrapper" style="height: 70px;">
            <div class="vizew-main-menu" id="sticker" style="">
                <div class="classy-nav-container light left breakpoint-on">
                    <div class="container">

                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="vizewNav">

                            <!-- Nav brand -->
                            <a href="@Url.Action("Index", "Home")" class="nav-brand"><img src="~/images/user/logo/gray_horizontal/3.png" alt=""></a>

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <div class="classy-menu">

                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul class="header__nav">
                                        <li class="active" id="liHome"><a href="@Url.Action("Index", "Home")">@Translations.Index</a></li>
                                        <li id="liEvents"><a asp-action="Posts" asp-controller="Home" asp-route-Table="Events" title="@Translations.Events">@Translations.Events</a></li>
                                        <li id="liPosts" class="cn-dropdown-item has-down">
                                            <a href="#">@Translations.Materials</a>
                                            <ul class="dropdown">
                                                <li><a asp-action="Posts" asp-controller="Home" asp-route-Table="Books" title="@Translations.Books">@Translations.Books</a></li>
                                                <li><a asp-action="Posts" asp-controller="Home" asp-route-Table="Journals" title="@Translations.Journals">@Translations.Journals</a></li>
                                                <li><a asp-action="Posts" asp-controller="Home" asp-route-Table="Scientists" title="@Translations.Scientists">@Translations.Scientists</a></li>
                                                <li><a asp-action="Posts" asp-controller="Home" asp-route-Table="Posts" title="@Translations.NewsAndArticles">@Translations.NewsAndArticles</a></li>
                                            </ul>
                                            <span class="dd-trigger"></span>
                                        </li>
                                        <li><a asp-action="About" asp-controller="Home" title="@Translations.AboutProject">@Translations.AboutProject</a></li>
                                        <li><a title="">|</a></li>
                                        <li class="cn-dropdown-item has-down">
                                            <a href="#">@Translations.Languages</a>
                                            <ul class="dropdown">
                                                @try
                                                {
                                                    foreach (var lang in ConnectorDataManager.GetLanguagesList())
                                                    {
                                                        <li>
                                                            <a asp-controller="Language" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path"
                                                               asp-route-culture="@lang.Abbreviation" data-ajax="true" data-ajax-method="POST" data-ajax-success="OpenReturnUrl">
                                                                @lang.Abbreviation
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                                catch
                                                {
                                                    <li>@NanoWiki.Resources.Translations.InternalServerError</li>
                                                }
                                            </ul>
                                            <span class="dd-trigger"></span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div> 
                    <!-- ##### Cookie Policy Start ##### --> 
                    @{ 
                        if(!Context.Request.Cookies.ContainsKey("AgreeWithCookiePolicy"))
                        { 
                            <div class="alert alert-info alert-dismissible" id="cookiePolicy">
                                <button type="button" class="close" data-dismiss="alert">×</button>                                
                                <a href="~/Home/CookiePolicy">@Translations.CookiePolicy</a>
                            </div>   
                        }
                    }
                    <!-- ##### Cookie Policy End ##### -->
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- page content -->

    @RenderBody()

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="container">
                <div class="row">
                    <!-- About us -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget mb-70">
                            <h6 class="widget-title">@Translations.AboutProject</h6>
                            <ul>
                                <li>
                                    <a asp-action="Index" asp-controller="Home" title="@Translations.Index">@Translations.Index</a>
                                </li>
                                <li>
                                    <a asp-action="Posts" asp-controller="Home" asp-route-Table="Events" title="@Translations.Events">@Translations.Events</a>
                                </li>
                                <li>
                                    <a asp-action="Posts" asp-controller="Home" asp-route-Table="Books" title="@Translations.Books">@Translations.Books</a>
                                </li>
                                <li>
                                    <a asp-action="Posts" asp-controller="Home" asp-route-Table="Journals" title="@Translations.Journals">@Translations.Journals</a>
                                </li>
                                <li>
                                    <a asp-action="Posts" asp-controller="Home" asp-route-Table="Scientists" title="@Translations.Scientists">@Translations.Scientists</a>
                                </li>
                                <li>
                                    <a asp-action="Posts" asp-controller="Home" asp-route-Table="Posts" title="@Translations.NewsAndArticles">@Translations.NewsAndArticles</a>
                                </li>
                                <li>
                                    <a asp-action="About" asp-controller="Home" title="@Translations.AboutProject">@Translations.AboutProject</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Company -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget mb-70">
                            <div class="footer-widget mb-70">
                                <h6 class="widget-title">@Translations.Company</h6>
                                <ul>
                                    <li>
                                        <a asp-action="CookiePolicy" asp-controller="Home" title="@Translations.TermsOfUse">@Translations.TermsOfUse</a>
                                    </li>
                                    <li>
                                        <a asp-action="About" asp-controller="Home" title="@Translations.ReportABug">@Translations.ReportABug</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Contacts -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget mb-70">
                            <h6 class="widget-title">@Translations.Contacts</h6>
                            <div class="contact-address">
                                <p>@Translations.Address: @contacts.Address</p>
                                <p>@Translations.Phone: @contacts.Phone</p>
                                <p>@Translations.Email: @contacts.Email</p>
                            </div>

                            <div class="footer-social-area">
                                <a href="https://vk.com/nanowiki" class="vk"><i class="fa fa-vk"></i></a>
                                <a href="https://www.facebook.com/NanoWikiOfficial/" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/nano_wiki" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.instagram.com/nanowiki/" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.linkedin.com/company/nanowiki" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Logo and newsletter -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget mb-70">
                            <a href="@Url.Action("Index", "Home")" class="foo-logo d-block mb-4"><img src="~/images/user/logo/white/3.1.png" alt=""></a>
      
                            <h6 class="widget-title">@Translations.Newsletter</h6>
                            <div class="footer-nl-area">
                                <form asp-controller="Home" asp-action="Subscribe" asp-route-divId="footerSubscribeBlock" asp-route-btnId="footerSubscribeBtn" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                                    <input type="email" name="email" class="form-control" id="nlEmail" placeholder="@Translations.Email">
                                    <button id="footerSubscribeBtn" type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                    <div id="footerSubscribeBlock"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Copywrite Area -->
        <div class="copywrite-area">
            <div class="container">
                <div class="text-center">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-12">
                        <p class="copywrite-text">
                            <span>@Translations.NanoWikiDescription © 2017 — @DateTime.Now.Year</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
     <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <script type="text/javascript" src="~/js/user/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/js/user/popper.min.js"></script>
    <script type="text/javascript" src="~/js/common/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/js/common/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/common/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/user/plugins.js"></script>
    <script type="text/javascript" src="~/js/user/active.js"></script>
    <script type="text/javascript" src="~/js/user/site.js"></script>

    <!-- page scripts -->
    @RenderSection("Scripts", required: false)

    <script>
        CookiePolicyScript();
    </script>

</body>
</html>