﻿@using NanoWiki.Resources;

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <!--- basic page needs -->
    <meta charset="utf-8">
    <title>@Translations.NanoWikiDescription</title>
    <meta name="description" content="@Translations.AdminPage">
    <meta name="author" content="Kanasi">
    <meta name="facebook-domain-verification" content="us38hhcn8mettj8n9u0os78apymfh8" />

    <!-- mobile specific metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="~/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/admin/style.css">
    <link rel="stylesheet" href="~/css/admin/bootstrap-combobox.css">
    <link rel="stylesheet" href="~/css/admin/pagedList.css">

    <!-- favicons -->
    <link rel="icon" href="~/images/user/logo/ico/classic/x32_3.ico">
</head>

<body>
    <div class="adminDiv">
        @RenderBody()
        <hr />
        <footer>
            <p>@Translations.NanoWikiDescription</p>
            <p>@Translations.AdminPage &copy; 2017 — @DateTime.Now.Year</p>
        </footer>
    </div>

    <!-- scripts -->
    <script type="text/javascript" src="~/js/common/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="~/js/common/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/js/common/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/common/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/js/common/jquery.form-validator/2.3.77/jquery.form-validator.min.js"></script>

    <script type="text/javascript" src="~/js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/admin/respond.min.js"></script>
    <script type="text/javascript" src="~/js/admin/bootstrap-combobox.js"></script>
    <script type="text/javascript" src="~/js/admin/adminPage.js"></script>

    <!-- html editor -->
    <script type="text/javascript" src="~/js/common/htmlEditor/codemirror.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/xml.min.js"></script>

    <script type="text/javascript" src="~/js/common/htmlEditor/froala_editor.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/align.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/colors.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/entities.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/file.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/image.min.js"></script>
    @*<script type="text/javascript" src="~/js/common/htmlEditor/plugins/image_manager.min.js"></script>*@
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/link.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/lists.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/quick_insert.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/quote.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/table.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/save.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/url.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/video.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/help.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/print.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/spell_checker.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/special_characters.min.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/plugins/word_paste.min.js"></script>

    <script type="text/javascript" src="~/js/common/htmlEditor/languages/ru.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/languages/en_gb.js"></script>
    <script type="text/javascript" src="~/js/common/htmlEditor/languages/zh_cn.js"></script>

    <!-- page scripts -->
    @RenderSection("Scripts", false)

</body>
</html>