﻿@model List<string>
<!-- htmlEditor styles -->
<link rel="stylesheet" href="~/css/user/font-awesome.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/froala_editor.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/froala_style.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/code_view.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/draggable.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/colors.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/emoticons.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/image.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/line_breaker.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/table.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/char_counter.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/video.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/fullscreen.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/file.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/quick_insert.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/help.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/spell_checker.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/plugins/special_characters.css">
<link rel="stylesheet" href="~/css/common/htmlEditor/codemirror.min.css">

<style>
    div#editor {
        min-width: 512px;
        width: 100%;
        margin: auto;
        text-align: left;
    }
</style>

<p id="p-max-length-element">
    <span id="max-length-element">250000</span> / 250000
</p>
<div id="editor">
    <textarea class="form-control adminFormControl edit" name="@Model[0]">@Model[1]</textarea>
</div>