﻿@model AboutProject

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Translations.AboutProject</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="contact-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-lg-8">
                <!-- Section Heading -->
                <div class="section-heading style-2">
                    <h4>@Translations.AboutProject</h4>
                    <div class="line"></div>
                </div>
                <p>@Model.Header</p>
                <p>@Html.Raw(Model.Text)</p>
                <!-- Contact Form Area -->
                <div class="contact-form-area mt-50">
                    <form asp-controller="Home" asp-action="SendFeedback" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                        <div class="form-group">
                            <label for="name">@Translations.YourName*</label>
                            <input id="name" name="name" type="text" class="form-control" placeholder="@Translations.YourName" value="">
                        </div>
                        <div class="form-group">
                            <label for="subject">@Translations.YourSubject*</label>
                            <input name="subject" type="text" class="form-control" placeholder="@Translations.YourSubject" value="">
                        </div>
                        <div class="form-group">
                            <label for="email">@Translations.YourEmail*</label>
                            <input name="email" type="text" class="form-control" placeholder="@Translations.YourEmail" value="">
                        </div>
                        <div class="form-group">
                            <label for="message">@Translations.YourMessage*</label>
                            <textarea name="message" class="form-control" id="message" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <div id="feedbackBlock"></div>
                        </div>
                        <button id="sendFeedbackBtn" type="submit" class="btn vizew-btn mt-30">@Translations.Submit</button>
                    </form>
                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">
                    <!-- ***** Newslatter ***** -->
                    <partial name="~/Views/Home/PartialViews/Newslatter.cshtml" />

                    <!-- ***** Advertising banner ***** -->
                    <partial name="~/Views/Home/PartialViews/AdvertisingBanner.cshtml" />
                </div>
            </div>
        </div>
    </div>
</section>