﻿<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Translations.TermsOfUse</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="contact-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <!-- Section Heading -->
                <div class="section-heading style-2">
                    <h4>@Translations.TermsOfUse</h4>
                    <div class="line"></div>
                </div>

                @foreach (var item in ViewBag.CookiePolicy)
                {
                    <p>
                        @Html.Raw(item)
                    </p>
                }

            </div>
        </div>
    </div>
</section>