﻿<!-- ##### Hero Area Start ##### -->
<section class="hero--area section-padding-80">
    <div class="container">
        <div class="row no-gutters">
            @if (ViewBag.News == null)
            {
                <div class="col-12 text-center">
                    <div class="tab-content">
                        <h1>@Translations.News</h1>
                        <br />
                        <h1>@Translations.NoContent</h1>
                    </div>
                </div>
            }
            else
            {
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="tab-content">
                        @for (int i = 0; i < ViewBag.News.Count; i++)
                        {
                            ViewBag.Model = ViewBag.News[i];
                            ViewBag.Table = ViewBag.Model.GetType().Name;

                            int index = i;
                            index++;

                            string postId = "post-" + index;
                            string postLabelId = "post-" + index + "-tab";
                            string postClass = "tab-pane fade";
                            string imgPath = FileConvertingManager.LoadBase64OrDefault(ViewBag.Model.Photo);

                            if (i == 0)
                            {
                                postClass += " show active";
                            }

                            <div class="@postClass divLink" id="@postId" role="tabpanel" aria-labelledby="@postLabelId">
                                <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.News[i].Id" asp-route-table="@ViewBag.News[i].GetType().Name"
                                   asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(ViewBag.News[i].GetType().Name, ViewBag.News[i].Id)" asp-route-typePost="post-cata cata-sm cata-danger">
                                    <!-- Single Feature Post -->
                                    <div class="single-feature-post video-post bg-img" style="background-image: url('@imgPath');">
                                        <!-- Post Content -->
                                        <div class="post-content">
                                            @{
                                                ViewBag.TypePost = "post-cata cata-sm cata-danger";
                                                ViewBag.HeaderName = Translations.News;
                                            }
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 7)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>

                                        <!-- Video Duration -->
                                        <span class="video-duration">@ViewBag.Model.PostDate</span>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    <ul class="nav vizew-nav-tab" role="tablist">

                        @for (int i = 0; i < ViewBag.News.Count; i++)
                        {
                            ViewBag.Model = ViewBag.News[i];
                            ViewBag.Table = ViewBag.Model.GetType().Name;

                            int index = i;
                            index++;

                            string postId = "post-" + index + "-tab";
                            string postHref = "#post-" + index;
                            string postAriaControls = "post-" + index;
                            string postClass = "nav-link";
                            string imgPath = FileConvertingManager.LoadBase64OrDefault(ViewBag.Model.Photo);

                            if (i == 0)
                            {
                                postClass += " active";
                            }

                            <li class="nav-item">
                                <a class="@postClass" id="@postId" data-toggle="pill" href="@postHref" role="tab" aria-controls="@postAriaControls" aria-selected="true">
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post style-2 d-flex align-items-center">
                                        <div class="post-thumbnail">
                                            <img src="@imgPath" alt="">
                                        </div>
                                        <div class="post-content">
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 8)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 2)
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            }
        </div>
    </div>
</section>
<!-- ##### Trending Posts Area Start ##### -->
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>@Translations.MostPupular</h4>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            @{
                ViewBag.Table = ViewBag.BooksName;
                ViewBag.Model = ViewBag.LastBook;
                ViewBag.Initials = false;
                ViewBag.HeaderName = Translations.Books;
            }
            @await Html.PartialAsync("~/Views/Home/PartialViews/BlockSinglePost.cshtml", "post-cata cata-sm cata-success")

            @{
                ViewBag.Table = ViewBag.ScientistsName;
                ViewBag.Model = ViewBag.LastScientist;
                ViewBag.Initials = true;
                ViewBag.HeaderName = Translations.Scientists;
            }
            @await Html.PartialAsync("~/Views/Home/PartialViews/BlockSinglePost.cshtml", "post-cata cata-sm cata-primary")

            @{
                ViewBag.Table = ViewBag.EventsName;
                ViewBag.Model = ViewBag.LastEvent;
                ViewBag.Initials = false;
                ViewBag.HeaderName = Translations.Events;
            }
            @await Html.PartialAsync("~/Views/Home/PartialViews/BlockSinglePost.cshtml", "post-cata cata-sm cata-events")
        </div>

    </div>
</section>
<!-- ##### Vizew Post Area Start ##### -->
<section class="vizew-post-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="all-posts-area">

                    <!-- Books -->
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4>@Translations.Books</h4>
                        <div class="line"></div>
                    </div>
                    @if (ViewBag.Books == null || ViewBag.Books.Count == null)
                    {
                        <h4>@Translations.NoContent</h4>
                        <br />
                    }
                    else
                    {
                        ViewBag.Table = ViewBag.BooksName;
                        ViewBag.Initials = false;
                        ViewBag.TypePost = "post-cata cata-sm cata-success";
                        ViewBag.HeaderName = Translations.Books;

                        <!-- Featured Post Slides -->
                        <div class="featured-post-slides owl-carousel mb-30">
                            @foreach (var item in ViewBag.Books)
                            {
                                ViewBag.Model = item;

                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img divLink" style="background-image: url(@FileConvertingManager.LoadBase64OrDefault(item.Photo));">
                                    <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@item.Id" asp-route-table="@item.GetType().Name"
                                       asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(item.GetType().Name, item.Id)" asp-route-typePost="post-cata cata-sm cata-success">
                                        <div class="post-content">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 2)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>
                                        <!-- Video Duration -->
                                        <span class="video-duration">@item.PostDate</span>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row mb-30">
                            @for (int i = 0; i < ViewBag.Books.Count; i++)
                            {
                                if (i == 4)
                                {
                                    break;
                                }

                                ViewBag.ClassRecomended = "post-meta d-flex justify-content-between";

                                ViewBag.Model = ViewBag.Books[i];
                                <!-- Single Blog Post -->
                                <div class="col-12 col-lg-6">
                                    <div class="single-blog-post style-3 d-flex mb-50">
                                        <div class="post-thumbnail">
                                            <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Books[i].Id" asp-route-table="@ViewBag.Books[i].GetType().Name"
                                               asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(ViewBag.Books[i].GetType().Name, ViewBag.Books[i].Id)" asp-route-typePost="post-cata cata-sm cata-success">
                                                <img src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Books[i].Photo)" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 3)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    <!-- Journals -->
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4>@Translations.Journals</h4>
                        <div class="line"></div>
                    </div>
                    @if (ViewBag.Journals == null || ViewBag.Journals.Count == null)
                    {
                        <h4>@Translations.NoContent</h4>
                        <br />
                    }
                    else
                    {
                        ViewBag.Table = ViewBag.JournalsName;
                        ViewBag.Initials = false;
                        ViewBag.TypePost = "post-cata cata-sm cata-success";
                        ViewBag.HeaderName = Translations.Journals;

                        <!-- Featured Post Slides -->
                        <div class="featured-post-slides owl-carousel mb-30">
                            @foreach (var item in ViewBag.Journals)
                            {
                                ViewBag.Model = item;

                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img divLink" style="background-image: url(@FileConvertingManager.LoadBase64OrDefault(item.Photo));">
                                    <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@item.Id" asp-route-table="@item.GetType().Name"
                                       asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(item.GetType().Name, item.Id)" asp-route-typePost="post-cata cata-sm cata-success">
                                        <div class="post-content">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 2)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>
                                        <!-- Video Duration -->
                                        <span class="video-duration">@item.PostDate</span>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row mb-30">
                            @for (int i = 0; i < ViewBag.Journals.Count; i++)
                            {
                                if (i == 4)
                                {
                                    break;
                                }

                                ViewBag.ClassRecomended = "post-meta d-flex justify-content-between";

                                ViewBag.Model = ViewBag.Journals[i];
                                <!-- Single Blog Post -->
                                <div class="col-12 col-lg-6">
                                    <div class="single-blog-post style-3 d-flex mb-50">
                                        <div class="post-thumbnail">
                                            <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Journals[i].Id" asp-route-table="@ViewBag.Journals[i].GetType().Name"
                                               asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(ViewBag.Journals[i].GetType().Name, ViewBag.Books[i].Id)" asp-route-typePost="post-cata cata-sm cata-success">
                                                <img src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Journals[i].Photo)" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 3)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    @{
                        ViewBag.ClassRecomended = null;
                    }


                    <!-- Scientists -->
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4>@Translations.Scientists</h4>
                        <div class="line"></div>
                    </div>
                    @if (ViewBag.Scientists == null || ViewBag.Scientists.Count == null)
                    {
                        <h4>@Translations.NoContent</h4>
                        <br />
                    }
                    else
                    {
                        ViewBag.Table = ViewBag.ScientistsName;
                        ViewBag.Initials = true;
                        ViewBag.TypePost = "post-cata cata-sm cata-primary";
                        ViewBag.HeaderName = Translations.Scientists;

                        <!-- Featured Post Slides -->
                        <div class="featured-post-slides owl-carousel mb-30">
                            @foreach (var item in ViewBag.Scientists)
                            {
                                ViewBag.Model = item;

                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img divLink" style="background-image: url('@FileConvertingManager.LoadBase64OrDefault(item.Photo)');">
                                    <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@item.Id" asp-route-table="@item.GetType().Name"
                                       asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(item.GetType().Name, item.Id)" asp-route-typePost="post-cata cata-sm cata-primary">
                                        <div class="post-content">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 2)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>
                                        <!-- Video Duration -->
                                        <span class="video-duration">@item.PostDate</span>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="row">
                            @for (int i = 0; i < ViewBag.Scientists.Count; i++)
                            {
                                if (i == 2)
                                {
                                    break;
                                }

                                ViewBag.Model = ViewBag.Scientists[i];
                                <!-- Single Blog Post -->
                                <div class="col-12 col-md-6">
                                    <div class="single-post-area mb-80">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Scientists[i].Id" asp-route-table="@ViewBag.Scientists[i].GetType().Name"
                                               asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(ViewBag.Scientists[i].GetType().Name, ViewBag.Scientists[i].Id)" asp-route-typePost="post-cata cata-sm cata-primary">
                                                <img style="height: 235px; width: max-content;" src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Scientists[i].Photo)" alt="">
                                            </a>
                                            <!-- Video Duration -->
                                            <span class="video-duration">@ViewBag.Scientists[i].PostDate</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 1)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                    <!-- Events -->
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4>@Translations.Events</h4>
                        <div class="line"></div>
                    </div>
                    @if (ViewBag.Events == null || ViewBag.Events.Count == null)
                    {
                        <h4>@Translations.NoContent</h4>
                        <br />
                    }
                    else
                    {
                        ViewBag.Table = ViewBag.EventsName;
                        ViewBag.Initials = false;
                        ViewBag.TypePost = "post-cata cata-sm cata-events";
                        ViewBag.HeaderName = Translations.Events;

                        <!-- Featured Post Slides -->
                        <div class="featured-post-slides owl-carousel mb-30">
                            @foreach (var item in ViewBag.Events)
                            {
                                ViewBag.Model = item;

                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img divLink" style="background-image: url(@FileConvertingManager.LoadBase64OrDefault(item.Photo));">
                                    <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@item.Id" asp-route-table="@item.GetType().Name"
                                       asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(item.GetType().Name, item.Id)" asp-route-typePost="post-cata cata-sm cata-events">
                                        <div class="post-content">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 2)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>
                                        <!-- Video Duration -->
                                        <span class="video-duration">@item.PostDate</span>
                                    </a>
                                </div>
                            }
                        </div>

                        @for (int i = 0; i < ViewBag.Events.Count; i++)
                        {
                            if (i == 4)
                            {
                                break;
                            }

                            ViewBag.Model = ViewBag.Events[i];

                            int index = i;
                            index++;

                            <!-- Single Post Area -->
                            <div class="single-post-area mb-30">
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg-6">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Events[i].Id" asp-route-table="@ViewBag.Events[i].GetType().Name"
                                               asp-route-fkId="@ConnectorDataManager.GetFKValueFromPages(ViewBag.Events[i].GetType().Name, ViewBag.Events[i].Id)" asp-route-typePost="post-cata cata-sm cata-events">
                                                <img src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Events[i].Photo)" alt="">
                                            </a>
                                            <!-- Video Duration -->
                                            <span class="video-duration">@ViewBag.Events[i].PostDate</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <!-- Post Content -->
                                        <div class="post-content mt-0">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 2)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 4)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">
                    <!-- ***** Social networks ***** -->
                    @*<partial name="~/Views/Home/PartialViews/SocialNetworks.cshtml" />*@

                    <!-- ***** Advertising banner ***** -->
                    <partial name="~/Views/Home/PartialViews/AdvertisingBanner.cshtml" />

                    <!-- ***** Newslatter ***** -->
                    <partial name="~/Views/Home/PartialViews/Newslatter.cshtml" />
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>

        var open = true;

        $(".divLink").css("cursor", "pointer");
        $(".divLink").click(function () {
            if (open === true) {
                location.href = $(this).children().eq(0).attr("href");
            }
        });

        $(".divLink .post-content .blockWithLinks").hover(function () {
            open = false;
        }, function () {
            open = true;
        });

    </script>
}

