﻿<input type="hidden" value="@ViewBag.Table" id="tableId" />
<input type="hidden" value="@ViewBag.SearchValue" id="searchValueId" />
<input type="hidden" value="@ViewBag.Id" id="idValue" />
<input type="hidden" value="@ViewBag.FkId" id="fkIdValue" />
<input type="hidden" value="@ViewBag.SortingValue" id="sortingValueId" />
<input type="hidden" value="@ViewBag.OrderValue" id="OrderValueId" />

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item"><a href="#">@Translations.Materials</a></li>
                        <li class="breadcrumb-item"><a asp-action="Posts" asp-controller="Home" asp-route-table="@ViewBag.ReturnTable">@Translations.Journals</a></li>
                        <li class="breadcrumb-item">
                            <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.JournalId" asp-route-Table="@ViewBag.ReturnTable" asp-route-fkId="@ViewBag.JournalFkId"
                               asp-route-typePost="@ViewBag.TypePost" title="@ViewBag.JournalHeader">@ViewBag.JournalHeader</a>
                        </li>
                        @if (ViewBag.Table.IndexOf("Publications") != -1)
                        {

                            <li class="breadcrumb-item">
                                <a asp-action="JournalData" asp-controller="Home" asp-route-journalId="@ViewBag.JournalId" asp-route-Table="@ViewBag.ReturnTable" asp-route-journalFkId="@ViewBag.JournalFkId" asp-route-id="@ViewBag.Id"
                                   asp-route-fkId="@ViewBag.FkId" asp-route-typePost="@ViewBag.TypePost" asp-route-journalDataType="Articles" title="@ViewBag.JournalArticleName">@ViewBag.JournalArticleName</a>
                            </li>
                            <li class="breadcrumb-item">@Translations.JournalsPublications</li>
                        }
                        else
                        {
                            <li class="breadcrumb-item">@ViewBag.PageHeader</li>
                        }
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="post-details-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Content -->
                        <div class="single-post-area style-2">
                            <div class="row align-items-center">
                                <div class="col-12">

                                    <div class="section-heading">
                                        <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.JournalId" asp-route-Table="@ViewBag.ReturnTable" asp-route-fkId="@ViewBag.JournalFkId"
                                           asp-route-typePost="@ViewBag.TypePost" title="@ViewBag.JournalHeader"><h4> @ViewBag.JournalHeader</h4></a>
                                        <p>@Translations.Publisher: @ViewBag.Publisher</p>
                                        <p>@Translations.Year: @ViewBag.Year</p>
                                        <div class="line"></div>
                                    </div>

                                    @if (ViewBag.Table.IndexOf("Contents") != -1)
                                    {
                                        foreach (var item in ViewBag.Contents)
                                        {
                                            <!-- Post Content -->
                                            <div class="post-content mt-0">
                                                <p class="post-title mb-2">@item.Name</p>

                                                @{
                                                    string authors = "";
                                                    if (ViewBag.Lang == GlobalValues.GetAppSettingsString("ProjectLanguage:Abbreviation"))
                                                    {
                                                        authors = ConnectorDataManager.GetFkValue("FkAuthors", item.FkAuthors);
                                                    }
                                                    else
                                                    {
                                                        authors = ConnectorDataManager.GetFkValue("FkAuthorsTranslations", item.FkAuthorsTranslations);
                                                    }

                                                    <p class="mb-2">@Translations.Author: @authors</p>
                                                }

                                                <div class="post-meta d-flex align-items-center mb-2">
                                                    <a href="#" class="post-date">@Translations.Pages: @item.Pages</a>
                                                </div>
                                            </div>
                                            <hr style="background: white;" />
                                        }
                                    }
                                    else
                                    {
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row justify-content-center">
                                                    <a id="filterButton" href="javascript: void(0)"><h5>@Translations.FilterRows</h5></a>
                                                </div>
                                                <div id="filterDiv" class="single-widget followers-widget mb-50">
                                                    <div class="col-12">
                                                        <form id="filterForm">
                                                            <div class="row">
                                                                <div class="col-12 col-md-6">
                                                                    <label class="control-label">@Translations.Name</label>
                                                                    <input class="form-control" type="text" name="Name" />
                                                                </div>
                                                                <div class="col-12 col-md-6">
                                                                    <label class="control-label">@Translations.Topic</label>
                                                                    @Html.Raw(ViewBag.SelectTopics)
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 col-md-6">
                                                                    <label class="control-label">@Translations.Organizations</label>
                                                                    @Html.Raw(ViewBag.SelectOrganizations)
                                                                </div>
                                                                <div class="col-12 col-md-6">
                                                                    <label class="control-label">@Translations.Year</label>
                                                                    <input class="form-control" type="number" name="ArticleYear" />
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-12 col-md-6">
                                                                    <label class="control-label">@Translations.ArticleLanguage</label>
                                                                    @Html.Raw(ViewBag.SelectLanguages)
                                                                </div>
                                                                <div class="col-12 col-md-6">
                                                                    <label class="control-label">@Translations.Authors</label>
                                                                    @Html.Raw(ViewBag.SelectAuthors)
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div class="row">
                                                                <div class="col-12 col-md-6">
                                                                    <label class="control-label">@Translations.Sorting</label>
                                                                    <select name="Sorting" class='form-control' style='min-height: 48px;'>
                                                                        <option value="Name">@Translations.Name</option>
                                                                        <option value="ArticleYear">@Translations.Year</option>
                                                                    </select>
                                                                </div>
                                                                <div class="col-12 col-md-6">
                                                                    <label class="control-label">@Translations.Order</label>
                                                                    <select name="Order" class='form-control' style='min-height: 48px;'>
                                                                        <option value="ASC">@Translations.Ascending</option>
                                                                        <option value="DESC">@Translations.Descending</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <button id="btnFilter" type="submit" class="btn vizew-btn w-100 mt-30">
                                                                @Translations.Search
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="PartialViewId">
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (ViewBag.Table.IndexOf("Publications") != -1)
                {
                    <a class="btn vizew-btn w-100 mt-30" asp-action="JournalData" asp-controller="Home" asp-route-journalId="@ViewBag.JournalId" 
                       asp-route-Table="@ViewBag.ReturnTable" asp-route-journalFkId="@ViewBag.JournalFkId" asp-route-id="@ViewBag.Id"
                       asp-route-fkId="@ViewBag.FkId" asp-route-typePost="@ViewBag.TypePost" asp-route-journalDataType="Articles" title="@Translations.Back">@Translations.Back</a>
                }
                else
                {
                    <a class="btn vizew-btn w-100 mt-30" asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.JournalId" 
                       asp-route-Table="@ViewBag.ReturnTable" asp-route-fkId="@ViewBag.JournalFkId"
                       asp-route-typePost="@ViewBag.TypePost" title="@Translations.Back">@Translations.Back</a>
                }

            </div>
        </div>
    </div>
</section>

@if (ViewBag.Table.IndexOf("Contents") == -1)
{
    @section Scripts{
        <script>
            $(window).on("load", function () {
                JournalDataLoad();
            });
        </script>
    }
}