﻿@{
    int lastNewsCount = 0;
}

<input type="hidden" value="@ViewBag.Table" id="tableId" />
<input type="hidden" value="@ViewBag.SearchValue" id="searchValueId" />
<input type="hidden" value="@ViewBag.TypePost" id="typePostId" />
<input type="hidden" value="@ViewBag.SearchStatus" id="searchStatusId" />

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item"><a href="#">@Translations.Materials</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@ViewBag.HeaderName</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="vizew-grid-posts-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="archive-catagory-view mb-50 d-flex align-items-center justify-content-between">
                    <!-- Catagory -->
                    <div class="archive-catagory">
                        <h4><i class="@ViewBag.Icon" aria-hidden="true"></i> @ViewBag.PostsName </h4>
                    </div>
                    <!-- View Options -->
                </div>

                @if (ViewBag.Table.IndexOf("journals") != -1)
                {
                    <div class="row">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <a id="filterButton" href="javascript: void(0)"><h5>@Translations.FilterRows</h5></a>
                            </div>
                            <div id="filterDiv" class="single-widget followers-widget mb-50">
                                <div class="col-12">
                                    <form id="filterForm">
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.Name</label>
                                                <input class="form-control" type="text" name="Name" />
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.Country</label>
                                                @Html.Raw(ViewBag.SelectCountries)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-12">
                                                <label class="control-label">@Translations.Topic</label>
                                                @Html.Raw(ViewBag.SelectTopics)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.Language</label>
                                                @Html.Raw(ViewBag.SelectLanguages)
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.RenameTransferInformation</label>
                                                @Html.Raw(ViewBag.SelectRenameTransferInformation)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.Year</label>
                                                <input class="form-control" type="number" name="Year" />
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.SCOPUS</label>
                                                @Html.Raw(ViewBag.SelectScopus)
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.ImpactFactorRSCI</label>
                                                @Html.Raw(ViewBag.SelectRSCI)
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.CurrentlyStatus</label>
                                                @Html.Raw(ViewBag.SelectComingOut)
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.Sorting</label>
                                                <select name="Sorting" class='form-control' style='min-height: 48px;'>
                                                    <option value="Name">@Translations.Name</option>
                                                    <option value="Year">@Translations.Year</option>
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <label class="control-label">@Translations.Order</label>
                                                <select name="Order" class='form-control' style='min-height: 48px;'>
                                                    <option value="ASC">@Translations.Ascending</option>
                                                    <option value="DESC">@Translations.Descending</option>
                                                </select>
                                            </div>
                                        </div>

                                        <button id="btnFilter" type="submit" class="btn vizew-btn w-100 mt-30">
                                            @Translations.Search
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-12">
                        <div id="PartialViewId"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="sidebar-area">

                    <!-- ***** Social networks ***** -->
                    @*<partial name="~/Views/Home/PartialViews/SocialNetworks.cshtml" />*@

                    <!-- ***** Last news ***** -->
                    <div class="single-widget latest-video-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>@Translations.LastNews</h4>
                            <div class="line"></div>
                        </div>
                        @if (ViewBag.Recomended != null)
                        {
                            foreach (var item in ViewBag.Recomended)
                            {
                                ViewBag.Model = item;

                                int fkId = ConnectorDataManager.GetFkId(item);

                                if (lastNewsCount == 0)
                                {
                                    <!-- Single Blog Post -->
                                    <div class="single-post-area mb-30">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@item.Id" asp-route-table="@item.GetType().Name" asp-route-fkId="@fkId" asp-route-typePost="@ViewBag.TypePost">
                                                <img src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Model.Photo)" alt="">
                                            </a>
                                            <!-- Video Duration -->
                                            <span class="video-duration">@ViewBag.Model.PostDate</span>
                                        </div>

                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <!-- ***** Razor data from partial view ***** -->
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 1)
                                            @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml")
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    if ((lastNewsCount > 0 || lastNewsCount > 1 || lastNewsCount > 2) && lastNewsCount <= 3)
                                    {
                                        ViewBag.ClassRecomended = "post-meta d-flex justify-content-between";

                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post d-flex">
                                            <div class="post-thumbnail">
                                                <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@item.Id" asp-route-table="@item.GetType().Name" asp-route-fkId="@fkId" asp-route-typePost="@ViewBag.TypePost">
                                                    <img src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Model.Photo)" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content">
                                                <!-- ***** Razor data from partial view ***** -->
                                                @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 3)
                                                @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml")
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        break;
                                    }
                                }

                                lastNewsCount++;
                            }
                        }
                    </div>

                    <!-- ***** Advertising banner ***** -->
                    <partial name="~/Views/Home/PartialViews/AdvertisingBanner.cshtml" />

                    <!-- ***** Newslatter ***** -->
                    <partial name="~/Views/Home/PartialViews/Newslatter.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    
    <script>
        $(window).on("load", function () {
            PostsRecordsLoad();
        });

    </script>
}