﻿@if (ViewBag.AjaxQuery == false || ViewBag.AjaxQuery == null)
{
    <div class="vizew-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Translations.RedirectPage</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="vizew-login-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="login-content">
                        <!-- Section Title -->
                        <div class="section-heading">
                            <h4>@ViewBag.RedirectMessage</h4>
                            <hr />
                            <h4>@Html.ActionLink(Translations.Index, "Index", "Home")</h4>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1>@ViewBag.RedirectMessage</h1>
    <hr />
    <a class="btn vizew-btn mt-30" asp-action="Index" asp-controller="Home">@Translations.Index</a>
}