﻿<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item"><a href="#">@Translations.Materials</a></li>
                        <li class="breadcrumb-item"><a asp-action="Posts" asp-controller="Home" asp-route-Table="@ViewBag.Table" title="@ViewBag.Header">@ViewBag.Header</a></li>
                        @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 9)
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="vizew-pager-area">
    <div class="vizew-pager-prev">
        <p>@Translations.PreviousArticle</p>

        <!-- Single Feature Post -->
        <div class="single-feature-post video-post bg-img pager-article" style="background-image: url('@FileConvertingManager.LoadBase64OrDefault(ViewBag.PrevPost.Photo)');">
            <!-- Post Content -->
            <div class="post-content">
                @{
                    ViewBag.Prev = true;
                    ViewBag.HeaderName = ViewBag.Header;
                }
                @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 5)
                @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
            </div>
            <!-- Video Duration -->
            <span class="video-duration">@ViewBag.PrevPost.PostDate</span>
        </div>
    </div>

    <div class="vizew-pager-next">
        <p>@Translations.NextArticle</p>

        <!-- Single Feature Post -->
        <div class="single-feature-post video-post bg-img pager-article" style="background-image: url('@FileConvertingManager.LoadBase64OrDefault(ViewBag.NextPost.Photo)');">
            <!-- Post Content -->
            <div class="post-content">
                @{
                    ViewBag.Next = true;
                    ViewBag.HeaderName = ViewBag.Header;
                }
                @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 6)
                @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
            </div>
            <!-- Video Duration -->
            <span class="video-duration">@ViewBag.NextPost.PostDate</span>
        </div>
    </div>
</div>

@{
    ViewBag.Prev = false;
    ViewBag.Next = false;
}

<section class="post-details-area mb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="post-details-thumb mb-50" style="text-align: center; margin-top: 20px;">
                    <img src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Model.Photo)" alt="">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Post Details Content Area -->
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="post-details-content">
                    <!-- Blog Content -->
                    <div class="blog-content">

                        <!-- Post Content -->
                        <div class="post-content mt-0">
                            <a href="#" class="@ViewBag.TypePost">@ViewBag.Header</a>
                            <a href="#" class="post-title mb-2">@ViewBag.PostName</a>

                            <div class="d-flex justify-content-between mb-30">
                                <div class="post-meta d-flex align-items-center">
                                    <a href="#" class="post-date">@ViewBag.Model.PostDate</a>
                                </div>
                                @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
                            </div>
                        </div>

                        <div class="single-widget p-0 author-widget">

                            @for (int i = 0; i < ViewBag.ModelDataList.Count; i = i + 2)
                            {
                                int index = i;
                                index++;
                                var item = ViewBag.ModelDataList[i];

                                if (i % 2 == 0 && index < ViewBag.ModelDataList.Count)
                                {
                                    var itemNext = ViewBag.ModelDataList[index];

                                    <div class="authors--meta-data d-flex">

                                        @if (item.Value != null && item.Value.GetType() == typeof(int))
                                        {
                                            <p>@item.Field<span class="counter">@Html.Raw(item.Value)</span></p>
                                        }
                                        else
                                        {
                                            <p>@item.Field<span class="">@Html.Raw(item.Value)</span></p>
                                        }

                                        @if (itemNext.Value.GetType() == typeof(int))
                                        {
                                            <p>@itemNext.Field<span class="counter">@Html.Raw(itemNext.Value)</span></p>
                                        }
                                        else
                                        {
                                            <p>@itemNext.Field<span class="">@Html.Raw(itemNext.Value)</span></p>
                                        }
                                    </div>
                                }
                                else
                                {
                                    <div class="authors--meta-data d-flex justify-content-center">
                                        @if (item.Value != null && item.Value.GetType() == typeof(int))
                                        {
                                            <p>@item.Field<span class="counter">@Html.Raw(item.Value)</span></p>
                                        }
                                        else
                                        {
                                            <p>@item.Field<span class="">@Html.Raw(item.Value)</span></p>
                                        }
                                    </div>
                                }
                            }
                        </div><br />

                        @Html.Raw(ViewBag.PostText)

                        <!-- Comment Area Start -->
                        <div class="comment_area clearfix mb-50">
                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>@Translations.Comments</h4>
                                <div class="line"></div>
                            </div>
                            <div id="PartialViewId">
                            </div>
                        </div>

                        <!-- Post A Comment Area -->
                        <div class="post-a-comment-area">

                            <!-- Section Title -->
                            <div class="section-heading style-2">
                                <h4>@Translations.LeaveReply</h4>
                                <div class="line"></div>
                            </div>

                            @if (ViewBag.User == false)
                            {
                                <a class="btn vizew-btn w-100 mt-30" asp-action="Authorization" asp-controller="Account">@Translations.AuthorizationRequired</a>
                            }
                            else
                            {
                                <!-- Reply Form -->
                                <div class="contact-form-area">
                                    <form asp-action="LeaveComment" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-success="Comments"
                                          asp-route-table="@ViewBag.TableComments" asp-route-replyCommentId="" asp-route-id="@ViewBag.Model.Id" asp-route-page="@ViewBag.Page"
                                          asp-route-divId="requiredCommentField" asp-route-btnId="btnLeaveReply" asp-route-secondLvl="false" asp-route-divIdInsert="">
                                        <div class="row">
                                            <div class="col-12">
                                                <textarea id="commentTextId" style="font-size: 14px;" maxlength="1024" name="commentText" class="form-control"
                                                          placeholder="@Translations.YourMessage*"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <button id="btnLeaveReply" class="btn vizew-btn mt-30" type="submit">@Translations.Submit</button><br />
                                                <div style="display: none;" id="requiredCommentField"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">

                <div class="sidebar-area">

                    @if (ViewBag.Table.IndexOf("Journals") != -1)
                    {
                        <!-- ***** Single Widget ***** -->
                        <div class="single-widget p-0 author-widget mb-30">
                            <div class="p-4">
                                <a href="#" class="author-name">@Translations.Menu</a>
                                <div class="author-social-info">
                                    <a asp-action="JournalData" asp-controller="Home" asp-route-table="@ViewBag.Table"
                                       asp-route-journalId="@ViewBag.Model.Id" asp-route-journalFkId="@ViewBag.FkId"
                                       asp-route-id="@ViewBag.Model.Id" asp-route-fkId="@ViewBag.FkId" asp-route-typePost="@ViewBag.TypePost"
                                       asp-route-journalDataType="Contents" class="btn vizew-btn w-100 mt-20">@Translations.JournalsContents</a>
                                    <a asp-action="JournalData" asp-controller="Home" asp-route-table="@ViewBag.Table"
                                       asp-route-journalId="@ViewBag.Model.Id" asp-route-journalFkId="@ViewBag.FkId"
                                       asp-route-id="@ViewBag.Model.Id" asp-route-fkId="@ViewBag.FkId" asp-route-typePost="@ViewBag.TypePost"
                                       asp-route-journalDataType="Articles" class="btn vizew-btn w-100 mt-30">@Translations.Articles</a>
                                </div>
                            </div>
                        </div>
                    }

                    <!--<div class="sidebar-area">-->
                    <!-- ***** Single Widget ***** -->
                    <!--<div class="single-widget share-post-widget mb-50">
                            <p>@Translations.ShareThisPost</p>
                            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
                            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
                            <a href="#" class="vk"><i class="fa fa-vk" aria-hidden="true"></i> VK</a>
                        </div>
                    </div>-->
                    <!-- ***** Advertising banner ***** -->
                    <partial name="~/Views/Home/PartialViews/AdvertisingBanner.cshtml" />

                    <!-- ***** Newslatter ***** -->
                    <partial name="~/Views/Home/PartialViews/Newslatter.cshtml" />

                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(window).on("load", function () {
        $.ajax({
            url: "/Home/Comments",
            type: "POST",
            data: {
                table: "@ViewBag.TableComments",
                id: @ViewBag.Model.Id,
                page: 1,
            },
            dataType: "html",
            beforeSend: function () {
                $('#PartialViewId').html("<img src=\"../../gif/admin/Loading.gif\"/>");
            },
            success: function (data) {
                $("#PartialViewId").html(data);
            },
            error: function () {
                $("#PartialViewId").html("<li>" + "@Translations.Error" + "</li>");
            }});
    });
    </script>
}