﻿@model Users

@{
    ViewData["Title"] = Translations.Authorization;
}

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Translations.Authorization</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>@Translations.Authorization!</h4>
                        <div class="line"></div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h3>@Translations.SignIn</h3>

                            <form style="margin-bottom: 15px;" asp-action="SignIn" asp-controller="Account" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                                <div class="form-field">
                                    <input name="email" type="text" class="form-control" placeholder="@Translations.Email" value="">
                                </div>
                                <div style="margin-bottom: -30px;" class="form-field">
                                    <input name="password" type="password" class="form-control" placeholder="@Translations.Password" value="">
                                </div>
                                <button id="signInBtn" type="submit" class="btn vizew-btn w-100 mt-30">
                                    @Translations.SignIn
                                </button>
                            </form>
                            <a asp-action="RecoverAccess" asp-controller="Account" style="text-align: center;">
                                @Translations.ForgotPassword?
                            </a>
                            <div id="signInBlock"></div>
                        </div>
                        <div class="col-12 col-md-6">
                            <h3>@Translations.SignUp</h3>

                            <form asp-action="SignUp" asp-controller="Account" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                                <div class="form-field">
                                    <input name="login" type="text" class="form-control" placeholder="@Translations.Login" value="">
                                </div>
                                <div class="form-field">
                                    <input name="email" type="text" class="form-control" placeholder="@Translations.Email" value="">
                                </div>
                                <div class="form-field">
                                    <input name="password" type="password" class="form-control" placeholder="@Translations.Password" value="">
                                </div>
                                <div class="form-field">
                                    <input name="confirmPassword" type="password" class="form-control" placeholder="@Translations.ConfirmPassword" value="">
                                </div>
                                <div class="form-group">
                                    <div id="signUpBlock"></div>
                                </div>
                                <button id="signUpBtn" type="submit" class="btn vizew-btn w-100 mt-30">
                                    @Translations.SignUp
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>