﻿@model PersonalPageModel

@{
    ViewData["Title"] = Translations.PersonalPage;
}

<link rel="stylesheet" href="~/css/user/component.css">

<style>
</style>

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Translations.PersonalPage</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="contact-area mb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-7 col-lg-8">
                <!-- Section Heading -->
                <div class="section-heading style-2">
                    <h4>@Translations.PersonalPage</h4>
                    <div class="line"></div>
                </div>
                <h3>@Translations.Password</h3>
                <form asp-controller="Account" asp-action="ChangePassword" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                    <div class="form-group">
                        <label for="name">@Translations.OldPassword*</label>
                        <input type="password" class="form-control" name="oldPassword">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.NewPassword*</label>
                        <input type="password" class="form-control" name="newPassword">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.ConfirmPassword*</label>
                        <input type="password" class="form-control" name="confirmNewPassword">
                    </div>
                    <div class="form-group">
                        <div id="changePasswordBlock"></div>
                    </div>

                    <button id="changePasswordBtn" class="btn vizew-btn mt-30" type="submit">@Translations.Save</button>
                </form>
                <br />
                <hr />

                <h3>@Translations.PersonalInformation</h3>
                <form asp-controller="Account" asp-action="SetPersonalData" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                    <div class="form-group">
                        <label for="name">@Translations.FirstName</label>
                        <input type="text" class="form-control" name="FirstName" value="@Model.UserProfile.FirstName">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.LastName</label>
                        <input type="text" class="form-control" name="LastName" value="@Model.UserProfile.LastName">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.MiddleName</label>
                        <input type="text" class="form-control" name="MiddleName" value="@Model.UserProfile.MiddleName">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.Address</label>
                        <input type="text" class="form-control" name="Address" value="@Model.UserProfile.Address">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.City</label>
                        <input type="text" class="form-control" name="City" value="@Model.UserProfile.City">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.ZipPostCode</label>
                        <input type="text" class="form-control" name="zipPostCode" value="@Model.UserProfile.ZipPostCode">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.StateProvince</label>
                        <input type="text" class="form-control" name="stateProvince" value="@Model.UserProfile.StateProvince">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.Country</label>
                        <input type="text" class="form-control" name="country" value="@Model.UserProfile.Country">
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.Phone</label>
                        <input type="text" class="form-control" name="phone" value="@Model.UserProfile.Phone">
                    </div>
                    <div class="form-group">
                        <div id="personalDataBlock"></div>
                    </div>

                    <button id="personalDataBtn" class="btn vizew-btn mt-30" type="submit">@Translations.Save</button>
                </form>
                <br />
                <hr />

                <h3>@Translations.UserSettings</h3>
                <form asp-action="UserSettingsChanging" asp-controller="Account" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                    <div class="form-group">
                        <label for="name">@Translations.US_Language | @Translations.Current: @ConnectorDataManager.GetLangById(Model.UserSettings.FkLanguages)</label>
                        <select id="idSiteLanguage" class="form-control adminFormControl" name="SiteLanguage">
                            @Html.Raw(ViewBag.SelectLanguage)
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.US_EventsNotifications | @Translations.Current: @GlobalValues.GetNotificationStatus(Model.UserSettings.EventsNotifications)</label>
                        <select id="idEventsNotifications" class="form-control adminFormControl" name="eventsNotifications">
                            @Html.Raw(ViewBag.EventsNotifications)
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.US_BooksNotifications | @Translations.Current: @GlobalValues.GetNotificationStatus(Model.UserSettings.BooksNotifications)</label>
                        <select id="idBooksNotifications" class="form-control adminFormControl" name="booksNotifications">
                            @Html.Raw(ViewBag.BooksNotifications)
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.US_JournalsNotifications | @Translations.Current: @GlobalValues.GetNotificationStatus(Model.UserSettings.JournalsNotifications)</label>
                        <select id="idJournalsNotifications" class="form-control adminFormControl" name="journalsNotifications">
                            @Html.Raw(ViewBag.JournalsNotifications)
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="name">@Translations.US_PostNotifications | @Translations.Current: @GlobalValues.GetNotificationStatus(Model.UserSettings.PostsNotifications)</label>
                        <select id="idPostNotifications" class="form-control adminFormControl" name="postsNotifications">
                            @Html.Raw(ViewBag.PostsNotifications)
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="name">@Translations.US_ScientistsNotifications | @Translations.Current: @GlobalValues.GetNotificationStatus(Model.UserSettings.ScientistsNotifications)</label>
                        <select id="idScientistsNotifications" class="form-control adminFormControl" name="scientistsNotifications">
                            @Html.Raw(ViewBag.ScientistsNotifications)
                        </select>
                    </div>
                    <div class="form-group">
                        <div id="userSettingsChangingBlock"></div>
                    </div>

                    <button id="userSettingsChangingBtn" class="btn vizew-btn mt-30" type="submit">@Translations.Save</button>
                </form>
                @*<br />
                <hr />
                <h3>@Translations.AccountTypes</h3>
                <form asp-action="AccountTypeChanging" asp-controller="Account" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                    <div class="form-group">
                        <label for="name">@Translations.US_AccountType</label>
                        <select id="idTypeAccount" class="form-control adminFormControl" name="TypeAccount">
                            <option value="default">Обычный</option>
                            <option value="moderator">Модератор</option>
                            <option value="translator">Переводчик</option>
                            <option value="company">Компания</option>
                            <option value="educationalInstitution">Учебное заведение</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <div id="accoutTypeChangingBlock"></div>
                    </div>

                    <button id="accoutTypeChangingBtn" class="btn vizew-btn mt-30" type="submit">@Translations.Save</button>
                </form>*@
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">

                    <div class="single-widget p-0 author-widget mb-50">
                        <div class="p-4">
                            <img class="author-avatar" data-toggle="modal" data-target="#modalWindow" src="@FileConvertingManager.LoadBase64OrDefault(Model.UserProfile.Avatar)" alt="">
                            <a href="#" class="author-name">@Model.UserProfile.LastName @Model.UserProfile.FirstName @Model.UserProfile.MiddleName</a>
                            @*<div class="author-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-vk"></i></a>
                            </div>*@                           

                            <a class="btn vizew-btn w-100" href="@Url.Action("LogOut","Account")">@Translations.LogOut</a>
                        </div>

                        <div class="authors--meta-data d-flex justify-content-center">
                            <p>@Translations.AccoutType: <span>@ViewBag.AccountType</span></p>
                        </div>

                        @if (Model.Users.Login.Length > 20 || Model.Users.Email.Length > 20)
                        {
                            <div class="authors--meta-data d-flex justify-content-center">
                                <p>@Translations.Login:<span>@Model.Users.Login</span></p>
                            </div>
                            <div class="authors--meta-data d-flex justify-content-center">
                                <p>@Translations.Email:<span>@Model.Users.Email</span></p>
                            </div>
                        }
                        else
                        {
                            <div class="authors--meta-data d-flex">
                                <p>@Translations.Login:<span>@Model.Users.Login</span></p>
                                <p>@Translations.Email:<span>@Model.Users.Email</span></p>
                            </div>
                        }

                        <div class="authors--meta-data d-flex">
                            <p>@Translations.CreateDate:<span>@Model.UserProfile.CreateDate</span></p>
                            <p>@Translations.CreateTime:<span>@Model.UserProfile.CreateTime</span></p>
                        </div>
                    </div>

                    <!-- ***** Newslatter ***** -->
                    <partial name="~/Views/Home/PartialViews/Newslatter.cshtml" />

                    <!-- ***** Advertising banner ***** -->
                    <partial name="~/Views/Home/PartialViews/AdvertisingBanner.cshtml" />
                </div>
            </div>
        </div>
    </div>
</section>

<!-- modal -->
<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="examplemodalcentertitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="color: black;" class="modal-title" id="exampleModalLongTitle">@Translations.ChangeAvatar ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="text-align: center;">
                    @{
                        var avatarSource = "~/images/user/UserProfile/Default-250.png";

                        if (!string.IsNullOrEmpty(Model.UserProfile.Avatar))
                        {
                            avatarSource = Model.UserProfile.Avatar;
                        }
                    }

                    <img id="avatarPreview" src="@FileConvertingManager.LoadBase64OrDefault(avatarSource)" width="250" height="250" alt="">
                </p>

                <form asp-action="ChangeAvatar" asp-controller="Account" method="post" enctype="multipart/form-data">
                    <div class="container">
                        <div class="box">
                            <input type="file" name="FileImg" id="fileInput" class="inputfile inputfile-6" style="display: none;" />
                            <label style="width: 100%;" for="fileInput"><span></span> <strong>@Translations.SelectFile&hellip;</strong></label>

                            <div id="avatarButtons">
                                <button type="submit" class="btn vizew-btn w-100" style="width: 100%; margin-right: 10px;">
                                    @Translations.Edit
                                </button>
                                <button id="deleteAvatar" class="btn vizew-btn w-100">
                                    @Translations.Delete
                                </button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Translations.Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/user/custom-file-input.js"></script>