﻿@{
    ViewData["Title"] = Translations.RecoverAccess;
}

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Translations.RecoverAccess</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="login-content">
                    <div class="row">
                        <div class="col-12">
                            <h3>@Translations.RecoverAccess</h3>

                            <form asp-controller="Account" asp-action="SendNewPassword" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
                                <div class="form-field">
                                    <input name="emailLogin" type="text" class="form-control" placeholder="@Translations.Email / @Translations.Login" value="">
                                </div>
                                <div class="form-group">
                                    <div id="recoverPasswordBlock"></div>
                                </div>
                                <button id="recoverPasswordBtn" type="submit" class="btn vizew-btn w-100 mt-30">@Translations.Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>