﻿@model NanoWiki.Models.Common.ErrorModel

@{
    ViewData["Title"] = Model.Code;
}

<div class="vizew-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")"><i class="fa fa-home" aria-hidden="true"></i> @Translations.Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Code</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="login-content">
                    <!-- Section Title -->
                    <div class="section-heading">
                        <h4>@Translations.Error: @Model.Code</h4>
                        <h4>@Model.MessageToUser</h4>
                        <hr />
                        <h4>@Html.ActionLink(Translations.Index, "Index", "Home")</h4>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>