﻿@model string

@{
    ViewData["Title"] = Translations.Error;
}

<section class="s-content">
    <div class="row">
        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                @Translations.UpsErrorMessage<br />
                @Model
            </h1>
        </div>
    </div>
</section>