﻿@model string
<!-- Single Blog Post Book -->
<div class="col-12 col-md-4">
    <div class="single-post-area mb-80">
        @if (ViewBag.Model != null)
        {
            int fkId = 0;

            try
            {
                fkId = ViewBag.Model.FkId;
            }
            catch (Exception)
            {
                fkId = 0;
            }

            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Model.Id" asp-route-table="@ViewBag.Model.GetType().Name" asp-route-fkId="@fkId" asp-route-typePost="@Model">
                    <img style="height: 170px; width: max-content;" src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Model.Photo)" alt="">
                </a>
                <span class="video-duration">@ViewBag.Model.PostDate</span>
            </div>

            <!-- Post Content -->
            <div class="post-content">
                @{
                    ViewBag.TypePost = Model;
                }
                <!-- ***** Razor data from partial view ***** -->
                @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 1)
                @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml", 1)
            </div>
        }
        else
        {
            <h4>@Translations.NoContent</h4>
        }
    </div>
</div>