﻿<link rel="stylesheet" type="text/css" href="~/css/admin/pagedList.css">

@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;

@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Common
@using System.Security.Claims;

<ul>
    <!-- Single Comment Area -->

    @if (ViewBag.CommentsList != null & ViewBag.CommentsList.Count > 0)
    {
        List<int> ignoreComments = new List<int>();

        foreach (var item in ViewBag.CommentsList)
        {
            // Data for current user

            var currentUserIdentity = (ClaimsIdentity)User.Identity;

            // Data for users from comments list

            string userLogin = UserManager.GetUserLoginByComments(item);

            string btnReply = "btnReply-" + item.Id;

            string divId = "divId-" + item.Id, divReplyId = "divReplyId-" + item.Id;

            string btnId = "btnId-" + item.Id, btnReplyId = "btnReplyId-" + item.Id;

            @* if comment has no other (reply) comments *@
            <li class="single_comment_area">
                <!-- Comment Content -->
                <div class="comment-content d-flex">
                    <!-- Comment Author -->
                    <div class="comment-author">
                        <img style="width: 100%; height: 100%;" src="@UserManager.GetUserAvatar(item)" alt="author">
                    </div>
                    <!-- Comment Meta -->
                    <div class="comment-meta">
                        <a href="#" class="comment-date">@item.DateComment | @item.TimeComment</a>
                        <h6>@userLogin</h6>

                        <p style="word-break: break-all;">@Html.Raw(item.Text)</p>

                        @if (string.IsNullOrEmpty(currentUserIdentity.Name))
                        {
                            <div class="d-flex align-items-center">
                                <a class="reply" asp-action="Authorization" asp-controller="Account">@Translations.Reply (@Translations.AuthorizationRequired)</a>
                            </div>
                        }
                        else
                        {
                            <div class="d-flex align-items-center">
                                @*<a href="#" class="like">like</a>*@

                                <a href="javascript: void(0)" name="@btnReply" class="reply replyFirstLvl">@Translations.Reply</a>

                                @{
                                    string styleAllComments = "";
                                }

                                @if (CommentsManager.GetReplyBranchesStatus(ViewBag.TableComments, item.Id) == true)
                                {
                                    styleAllComments = "block";
                                }
                                else
                                {
                                    styleAllComments = "none";
                                }

                                <a href="javascript: void(0)" name="@btnReply" style="display: @styleAllComments" class="reply showAllComments">@Translations.AllReplies</a>

                                <input type="hidden" class="@btnReply" name="@userLogin" />
                            </div>

                            <!-- Reply Form -->
                            <div class="contact-form-area formComments @btnReply" style="display: none; padding: 10px;">
                                <hr style="background: white;" />
                                <p>@Translations.LeaveReply</p>
                                <form asp-action="LeaveComment" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-success="Comments"
                                      asp-route-table="@ViewBag.TableComments" asp-route-replyCommentId="@item.Id" asp-route-id="@ViewBag.Id" asp-route-page="@ViewBag.Page"
                                      asp-route-divId="@divId" asp-route-btnId="@btnId" asp-route-secondLvl="true" asp-route-divIdInsert="@btnReply">
                                    <div class="row">
                                        <div class="col-12">
                                            <textarea style="font-size: 14px;" maxlength="1024" name="commentText" class="form-control" placeholder="@Translations.YourMessage*"></textarea>
                                        </div>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12 col-md-6" style="margin-bottom: 10px;">
                                                    <button class="btn vizew-btn w-100 replyCancel" type="button">@Translations.Cancel</button>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <button id="@btnId" class="btn vizew-btn w-100" type="submit">@Translations.Submit</button>
                                                </div>
                                            </div>
                                            <br />
                                            <div style="display: none;" id="@divId"></div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>

                @{
                    CommentsManager.CleanReplyBranches();
                    string replyBranches = CommentsManager.GetSecondLevelComments(ViewBag.TableComments, item.Id, string.IsNullOrEmpty(currentUserIdentity.Name) ? false : true);

                    <div class="@btnReply" style="display: none;">

                        @if (!string.IsNullOrEmpty(replyBranches))
                        {
                            @Html.Raw(replyBranches)
                        }

                        <ol class="children">
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">
                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <!-- Reply Form -->
                                        <div class="contact-form-area formSecondlvlComments">
                                            <form asp-action="LeaveComment" asp-controller="Home" data-ajax="true" data-ajax-method="POST" data-ajax-success="Comments"
                                                  asp-route-table="@ViewBag.TableComments" asp-route-replyCommentId="@item.Id" asp-route-id="@ViewBag.Id" asp-route-page="@ViewBag.Page"
                                                  asp-route-divId="@divReplyId" asp-route-btnId="@btnReplyId" asp-route-secondLvl="true" asp-route-divIdInsert="@btnReply">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <hr style="background: white;" />
                                                            <p>@Translations.LeaveReply</p>
                                                            <textarea style="font-size: 14px; height: 70px;" maxlength="1024" name="commentText" class="form-control" placeholder="@Translations.YourMessage*"></textarea>
                                                        </div>
                                                        <div class="container">
                                                            <div class="row">
                                                                <div class="col-12 col-md-6">
                                                                    <button class="btn vizew-btn w-100 replyCancelSecondLvl" type="button">@Translations.Cancel</button>
                                                                </div>
                                                                <div class="col-12 col-md-6">
                                                                    <button id="@btnReplyId" class="btn vizew-btn w-100" type="submit">@Translations.Submit</button>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <div style="display: none;" id="@divReplyId"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ol>

                    </div>
                }

            </li>
        }

        @Html.PagedListPager((X.PagedList.IPagedList)ViewBag.CommentsList, page => Url.Action("Comments", "Home", new { Page = page, Table = ViewBag.TableComments, Id = ViewBag.Id }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "PartialViewId" }))
    }
    else
    {
        <li>
            <h4>
                @Translations.NoComments
            </h4>
        </li>
    }

</ul>

@section Scripts{
    <script type="text/javascript" src="~/js/user/site.js"></script>
}

<script>

    /*
     0 - input with user nickname
     1 - first level comment form
     2 - block with second level of comments
     */

    var replyCancelId = "";
    var allCommentsId = "";

    $(".replyFirstLvl").click(function () {
        // Show all reply buttons on the page
        $(".replyFirstLvl").show();
        // Hide all comment windows on page
        $(".formComments").hide();

        // Get unique attribute by name (unique form comment id)
        replyCancelId = $(this).attr("name");

        // Checking condition of reply comments block. If block displayed then focus to their form below, if not then open nearest form
        if ($("." + replyCancelId).eq(2).css("display") === "none") {
            // Hide current reply button
            $(this).hide();
            // Opening the comment adding window by unique class with position 1
            $("." + replyCancelId).eq(1).show();
            // When you click on the answer button, the nickname of the one to whose comment the answer is displayed in the text area field
            $("." + replyCancelId + " textarea").val($("." + replyCancelId).eq(0).attr("name") + ", ");
            $("." + replyCancelId + " textarea").focus();
        }
        else {
            // Get unique attribute by name (user login)
            // When you click on the answer button, the nickname of the one to whose comment the answer is displayed in the text area field
            $(".formSecondlvlComments textarea").val($("." + replyCancelId).eq(0).attr("name") + ", ");
            $(".formSecondlvlComments textarea").focus();
        }
    });

    $(".replyCancel").click(function () {
        // Hiding the comment adding window by unique class with position 1
        $("." + replyCancelId).eq(1).hide();
        // Opening the reply button by unique name
        $("a[name='" + replyCancelId + "']").eq(0).show();
        // Clearing text in textarea
        $("." + replyCancelId + " textarea").val("");
    });

    $(".replyCancelSecondLvl").click(function () {
        $(".formSecondlvlComments textarea").val("");
    });

    $(".showAllComments").click(function () {

        // Insert event-click on the new blocks
        var replyButtons = $(".replySecondLvl");

        // Add "on click" event for all buttons in second lvl of comments
        Array.from(replyButtons).forEach(function (element) {
            element.addEventListener('click', function () {
                $(".formSecondlvlComments textarea").val($(this).attr("name") + ", ");
                $(".formSecondlvlComments textarea").focus();
            });
        });

        // Get unique attribute by name (unique "all comments" div id)
        allCommentsId = $(this).attr("name");

        // If the comment reply window is open (first branch), then close it
        if ($("." + allCommentsId).eq(1).css('display') === "block") {
            // Close the form
            $("." + allCommentsId).eq(1).css("display", "none");
            // Clearing text in textarea
            $(".formComments textarea").text("");
            // Opening the reply button by unique name
            $("a[name='" + allCommentsId + "']").show();
            // Clear second branch text field
            $(".formSecondlvlComments textarea").val("");
        }

        // If the block with response comments has the "display" property as "none", then show this block
        if ($("." + allCommentsId).eq(2).css('display') === "none") {
            $("." + allCommentsId).eq(2).css("display", "block");
        }
        // If the block with response comments has the "display" property as "block", then hide this block
        else {
            $("." + allCommentsId).eq(2).css("display", "none");
        }
    });

</script>