﻿<link rel="stylesheet" type="text/css" href="~/css/admin/pagedList.css">

@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;

@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Common

<h6>
    @Translations.TotalFound: @ViewBag.Items.TotalItemCount<br />
    @Translations.ShowOnThisPage: @ViewBag.CurrentCount
</h6><br />

<!-- Single Blog Post -->
@foreach (var item in ViewBag.Items)
{
    string author = JournalsManager.GetAuthorInitials(item);
    string organization = JournalsManager.GetOrganizationName(item);
    int fkId = ConnectorDataManager.GetFkId(item);
    string articleName = JournalsManager.GetArticleName(item);
    int citation = JournalsManager.GetCitationCount(item);

    <div class="single-post-area style-2">
        <div class="row align-items-center">
            <div class="col-12">
                <!-- Post Content -->
                <div class="post-content mt-0">
                    <p href="#" class="post-cata cata-sm cata-success">@ViewBag.PageHeader</p>
                    <p href="#" class="post-title mb-2">@item.Name</p>
                    <div class="post-meta d-flex align-items-center mb-2">
                        <a href="javascript: void(0)" class="post-author">@author</a>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <a href="javascript: void(0)" class="post-date">@organization</a>
                        <i class="fa fa-circle" aria-hidden="true"></i>
                        <a href="javascript: void(0)" class="post-date">@item.ArticleYear</a>
                    </div>
                    @if (ViewBag.Table.IndexOf("Publications") != -1)
                    {
                        <p class="mb-2">@Translations.ArticleName: @articleName</p>
                    }
                    <p class="mb-2">@Translations.Description: @item.Description</p>
                    <div class="post-meta d-flex">
                        <a href="javascript: void(0)"><i class="fa fa-comments-o" aria-hidden="true"></i> @item.ArticleLanguage</a>
                        <a href="javascript: void(0)"><i class="fa fa-eye" aria-hidden="true"></i> @item.Pages</a>

                        @if (ViewBag.Table.IndexOf("Articles") != -1)
                        {
                            if (citation.Equals("0"))
                            {
                                <p class="mb-2">@Translations.Citation:@citation</p>
                            }
                            else
                            {
                                <a asp-action="JournalData" asp-controller="Home" asp-route-table="@ViewBag.CitationTable" asp-route-id="@ViewBag.CitationId"
                                   asp-route-fkId="@ViewBag.CitationFkId" asp-route-typePost="@ViewBag.TypePost" asp-route-journalDataType="Publications"
                                   asp-route-citationCondition="@item.Id" class="mb-2">
                                    @Translations.Citation:@citation
                                </a>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.PagedListPager((X.PagedList.IPagedList)ViewBag.Items, page => Url.Action("JournalArticlesAndPublucations", "Home",
    new { table = ViewBag.Table, searchValue = ViewBag.SearchValue, id = ViewBag.Id, fkId = ViewBag.fkId, page = page, 
        filter = ViewBag.Filter, sortingValue = ViewBag.SortingValue, orderValue = ViewBag.OrderValue }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "PartialViewId" }))