﻿<div class="single-widget newsletter-widget mb-50">
    <!-- Section Heading -->
    <div class="section-heading style-2 mb-30">
        <h4>@Translations.Newsletter</h4>
        <div class="line"></div>
    </div>
    <p>@Translations.FooterNewslatter</p>
    <!-- Newsletter Form -->
    <div class="newsletter-form">
        <form asp-controller="Home" asp-action="Subscribe" asp-route-divId="subscribeBlock" asp-route-btnId="subscribeBtn" data-ajax="true" data-ajax-method="POST" data-ajax-success="AlertMessage">
            <input type="email" name="email" class="form-control mb-15" placeholder="@Translations.YourEmail">
            <div class="form-group">
                <div id="subscribeBlock"></div>
            </div>
            <button id="subscribeBtn" type="submit" class="btn vizew-btn w-100">@Translations.Subscribe</button>
        </form>
    </div>
</div>