﻿@model int

@using System.Security.Claims;

@{
    if (ViewBag.Prev == true)
    {
        ViewBag.Model = ViewBag.PrevPost;
    }
    if (ViewBag.Next == true)
    {
        ViewBag.Model = ViewBag.NextPost;
    }

    int fkId = ConnectorDataManager.GetFkId(ViewBag.Model);

    int visitCount = ConnectorDataManager.GetVisitCount(ViewBag.Model);

    var userIdentity = (ClaimsIdentity)User.Identity;

    string typePost = ViewBag.TypePost;

    string BlockId = RatingManager.GetBlockId(ViewBag.Model);

    string LikeId = RatingManager.GetLikeId(ViewBag.Model);

    string DislikeId = RatingManager.GetDislikeId(ViewBag.Model);

    string RecomendedPostBlock = "post-meta d-flex";

    string RecomendedLinks = "";

    string LikeStyle = RatingManager.GetRatingStyle(userIdentity, ViewBag.Model, true);

    string DislikeStyle = RatingManager.GetRatingStyle(userIdentity, ViewBag.Model, false);

    string CommentsCount = "";

    CommentsCount = CommentsManager.GetCountComments(ViewBag.Model.GetType().Name, ViewBag.Model.Id) ?? "0";

    if (ViewBag.ClassRecomended != null)
    {
        RecomendedPostBlock = ViewBag.ClassRecomended;
        RecomendedLinks = "margin-right: 35px;";
    }
}

@if (Model == 1)
{
    <div class="@RecomendedPostBlock @BlockId blockWithLinks">
        <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Model.Id" asp-route-table="@ViewBag.Table"
           asp-route-fkId="@fkId" asp-route-typePost="@typePost" style="@RecomendedLinks">
            <i class="fa fa-comments-o" aria-hidden="true"></i>@CommentsCount
        </a>
        <a class="@LikeId" asp-action="RatingUpdate" asp-controller="Home" asp-route-table="@ViewBag.Model.GetType().Name"
           asp-route-id="@ViewBag.Model.Id" asp-route-ratingType="LikeCount" asp-route-tagId="@LikeId" asp-route-blockId="@BlockId"
           data-ajax="true" data-ajax-method="POST" data-ajax-success="RatingUpdate" style="@RecomendedLinks@LikeStyle">
            <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>@ViewBag.Model.LikeCount
        </a>
        <a class="@DislikeId" asp-action="RatingUpdate" asp-controller="Home" asp-route-table="@ViewBag.Model.GetType().Name"
           asp-route-id="@ViewBag.Model.Id" asp-route-ratingType="DislikeCount" asp-route-tagId="@DislikeId" asp-route-blockId="@BlockId"
           data-ajax="true" data-ajax-method="POST" data-ajax-success="RatingUpdate" style="@RecomendedLinks@DislikeStyle">
            <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>@ViewBag.Model.DislikeCount
        </a>
        <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Model.Id" asp-route-table="@ViewBag.Table"
           asp-route-fkId="@fkId" asp-route-typePost="@typePost" style="@RecomendedLinks">
            <i class="fa fa-eye" aria-hidden="true"></i>@visitCount
        </a>
    </div>
}
else if (Model == 2)
{
    <div class="post-meta d-flex justify-content-between">
        <span><i class="fa fa-comments-o" aria-hidden="true" style="@RecomendedLinks"></i>@CommentsCount</span>
        <span><i class="fa fa-thumbs-o-up" aria-hidden="true" style="@RecomendedLinks"></i>@ViewBag.Model.LikeCount</span>
        <span><i class="fa fa-thumbs-o-down" aria-hidden="true" style="@RecomendedLinks"></i>@ViewBag.Model.DislikeCount</span>
        <span><i class="fa fa-eye" aria-hidden="true" style="@RecomendedLinks"></i>@visitCount</span>
    </div>
}