﻿<link rel="stylesheet" type="text/css" href="~/css/admin/pagedList.css">

@*import this so we get our HTML Helper*@
@using X.PagedList.Mvc.Core;

@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Common

<h6>
    @Translations.TotalFound: @ViewBag.TotalCount<br />
    @Translations.ShowOnThisPage: @ViewBag.Items.Count
</h6><br />

<!-- Single Blog Post -->
@foreach (var item in ViewBag.Items)
{
    ViewBag.Model = item;

    if (ViewBag.SearchList == true)
    {
        ViewBag.Table = item.GetType().Name;
        ViewBag.Initials = RecordsManager.GetInitials(item);
    }

    <div class="listRecords">
        <div class="single-post-area style-2">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <a asp-action="SinglePost" asp-controller="Home" asp-route-id="@item.Id" asp-route-table="@item.GetType().Name" 
                            asp-route-fkId="@ConnectorDataManager.GetFkId(item)" asp-route-typePost="@ViewBag.TypePost">
                            <img style="height: 219px; width: max-content;" src="@FileConvertingManager.LoadBase64OrDefault(ViewBag.Model.Photo)" alt="">
                        </a>
                        <!-- Video Duration -->
                        <span class="video-duration">@ViewBag.Model.PostDate</span>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <!-- Post Content -->
                    <div class="post-content mt-0">
                        <!-- ***** Razor data from partial view ***** -->
                        @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 2)
                        @await Html.PartialAsync("~/Views/Home/PartialViews/ShortHeaderName.cshtml", 4)
                        @await Html.PartialAsync("~/Views/Home/PartialViews/Rating.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@Html.PagedListPager((X.PagedList.IPagedList)ViewBag.Items, page => Url.Action("Records", "Home",
    new { table = ViewBag.Table, searchValue = ViewBag.SearchValue, headerName = ViewBag.HeaderName, page = page, filter = ViewBag.Filter, TypePost = ViewBag.TypePost }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "PartialViewId" }))

<!-- Pagination -->
@*<nav class="mt-50">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </nav>*@