﻿@model int

@{
    if (Model == 5)
    {
        ViewBag.Model = ViewBag.PrevPost;
    }
    else if (Model == 6)
    {
        ViewBag.Model = ViewBag.NextPost;
    }
    else if (Model == 7)
    {
        ViewBag.Table = ViewBag.NewsName;
    }

    string postName = RecordsManager.GetPostName(ViewBag.Lang, ViewBag.Initials, ViewBag.Model);
    string postDescription = RecordsManager.GetPostDescription(ViewBag.Lang, ViewBag.Initials, ViewBag.Model);
    int fkId = ConnectorDataManager.GetFkId(ViewBag.Model);
    string typePost = ViewBag.TypePost;

    if (Model == 1)
    {
        <a class="@typePost" asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Model.Id"
           asp-route-table="@ViewBag.Table" asp-route-fkId="@fkId" asp-route-typePost="@typePost">@ViewBag.HeaderName</a>
        <a class="post-title" asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Model.Id"
           asp-route-table="@ViewBag.Table" asp-route-fkId="@fkId" asp-route-typePost="@typePost">@postName</a>
    }
    else if (Model == 2 || Model == 5 || Model == 6 || Model == 7)
    {
        <a class="@typePost" asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Model.Id"
           asp-route-table="@ViewBag.Table" asp-route-fkId="@fkId" asp-route-typePost="@typePost">@ViewBag.HeaderName</a>
        <a class="post-title mb-2" asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Model.Id"
           asp-route-table="@ViewBag.Table" asp-route-fkId="@fkId" asp-route-typePost="@typePost">@postName</a>
    }
    else if (Model == 3)
    {
        <a class="post-title" asp-action="SinglePost" asp-controller="Home" asp-route-id="@ViewBag.Model.Id"
           asp-route-table="@ViewBag.Table" asp-route-fkId="@fkId" asp-route-typePost="@typePost">@postName</a>
    }
    else if (Model == 4)
    {
        <p class="mb-2">@Html.Raw(postDescription)</p>
    }
    else if (Model == 8)
    {
        <h6 class="post-title">@postName</h6>       
    }
    else if (Model == 9)
    {
        <li class="breadcrumb-item active" aria-current="page">@postName</li>
    }
}