﻿<ol class="children">
    <li class="single_comment_area">
        <!-- Comment Content -->
        <div class="comment-content d-flex">
            <!-- Comment Author -->
            <div class="comment-author">
                <img style="width: 100%; height: 100%;" src="@UserManager.GetUserAvatar(ViewBag.Model)" alt="@UserManager.GetUserLoginByComments(ViewBag.Model)">
            </div>
            <!-- Comment Meta -->
            <div class="comment-meta">
                <a href="#" class="comment-date">@ViewBag.Model.DateComment | @ViewBag.Model.TimeComment</a>
                <h6>@UserManager.GetUserLoginByComments(ViewBag.Model)</h6>
                <p>@ViewBag.Model.Text</p>
                <div class="d-flex align-items-center">
                    @if (string.IsNullOrEmpty(User.Identity.Name))
                    {
                        <a class="reply" asp-action="Authorization" asp-controller="Account">@Translations.Reply (@Translations.AuthorizationRequired)</a>
                    }
                    else
                    {
                        @*<a href="#" class="like">like</a>*@
                        <a href="javascript: void(0)" class="reply replySecondLvl" name="@User.Identity.Name">@Translations.Reply</a>
                    }
                </div>
            </div>
        </div>
    </li>
</ol>