﻿ <!-- ***** Social networks ***** -->
<div class="single-widget followers-widget mb-50">
    <a href="#" class="facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <span class="counter">1375</span><span>@Translations.Followers</span><hr /><span>@Translations.FollowUs</span>
    </a>
    <a href="#" class="twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <span class="counter">1375</span><span>@Translations.Followers</span><hr /><span>@Translations.FollowUs</span>
    </a>
    <a href="#" class="instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <span class="counter">1375</span><span>@Translations.Followers</span><hr /><span>@Translations.FollowUs</span>
    </a>
</div>